*{box-sizing: border-box;
    margin: 0;
}

.one{
    width: 100%;
    height: 400px;
}

.two{
    width: 42.5%;
    height: 100%;
    float: left;
    background: #67d2b2;
    margin-left: 5%;
    margin-right: 2.5%;
    border: 10px solid #333333;
}

.tree{
    width: 42.5%;
    height: 100%;
    float: left;
    background: #79d2ab;
    margin-right: 5%;
    margin-left: 2.5%;
    border: 10px solid #333333;
}