*{box-sizing: border-box;
    margin: 0;
}

.one{
    width: 100%;
    height: 400px;
}

.two{
    width: 42.5%;
    height: 100%;
    float: left;
    background: #44d25a;
    margin-left: 5%;
    margin-right: 2.5%;
    border: 1px solid #333333;
}

.tree{
    width: 42.5%;
    height: 100%;
    float: left;
    background: #3b98d2;
    margin-right: 5%;
    margin-left: 2.5%;
    border: 1px solid #333333;
}